# Virtual Environments
.venv/
backend/env/

# IDE and Editor Files
.vscode/

# Front-End Build Files
frontend/node_modules/
frontend/build/

# Bytecode Files
*.pyc
__pycache__/

# Django Static and Media Files
backend/staticfiles/
backend/media/

# Logs
*.log